/* Overall settings */
*{
    box-sizing: border-box;
}

body {
    text-align: center;
    color: hsl(218, 22%, 67%);
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    line-height: 1.8;
}

a {
    color: hsl(228, 45%, 44%);
}

h1{
    color: hsl(179, 62%, 43%);
    font-size: 700;
}

/* Content */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.row-section{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* General for all boxes */
.box{
    display: inline-block;
    text-align: left;
    padding: 30px;
}

.join {
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 10%;
    width: 630px;

}

.join h2{
    color: #c0df34;
}

.subscription {
    background-color: hsl(179, 62%, 43%);
    color: white;
    border-bottom-left-radius: 7px;
    width: 315px;
}

.dollar {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.month{
    color: rgb(71, 201, 196);
    font-size: 17px;
}

.why {
    background-color: rgb(71, 201, 196);
    border-bottom-right-radius: 7px;
    color: white;
    width: 315px;
    font-size: 13px;
}

.why h2{
    font-size: 1.5rem;
}


@media (max-width: 375px) {
    .join, .subscription, .why{
        display: block;
        width: 80%;
    }

}

/* Button styling */

.myButton {
	background-color:#c0df34;
	border-radius:6px;
    border:1px solid #74b807;
    width: 230px;
    display:inline-block;
    text-align: center;
	cursor: pointer;
	color:#ffffff;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	padding:14px 40px;
    text-decoration: none;
    margin-left: 10%;
    margin-top: 10%;

}

.myButton:hover {
    background-color:#f7f7f7;
    color: #c0df34;
}

footer{
    font-size: 7px;
}
